.terminal-wrapper {
    width: 30%;
    float: left;
    margin: 5px 0 0 5px;
    font-size: 0.75em;
    border: solid 1px rgba(50, 180, 50, 1);
}
.tab-title {
    padding: 0.25em 0.5em;
    color: #FFF;
    background-color:  rgba(50, 180, 50, 1);
}
.terminal {
    height: 30vh;
    background-color: rgba(0, 15, 0, 0.9);
    overflow: auto;
    color: #AAA;
}
.terminal div {
    padding: 0 0.5em;
}
.terminal div:hover {
    background-color: rgba(255,255,255,0.1);
}
.level, .msg {
    color: rgba(50, 180, 50, 1);
}
