body {
    margin:0;
    overflow-x: hidden;
}
* {
    font-family: "SourceCodePro";
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: "SourceCodePro";
    src: url("assets/font/SourceCodePro-Regular.ttf");
}
.box-shadow-bottom {
    -webkit-box-shadow: 0px 7px 15px -1px rgba(124,136,252,0.55);
    -moz-box-shadow: 0px 7px 15px -1px rgba(124,136,252,0.55);
    box-shadow: 0px 7px 15px -1px rgba(124,136,252,0.55);
}
.box-shadow-left {
    -webkit-box-shadow: -2px 5px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 13px -5px rgba(0,0,0,0.75);
    box-shadow: -2px 5px 13px -5px rgba(0,0,0,0.75);
}
.box-shadow-bottom-right {
    -webkit-box-shadow: 5px 5px 11px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 11px -8px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 11px -8px rgba(0,0,0,0.75);
}
.inset-box-shadow-right {
    -webkit-box-shadow: inset 3px 5px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 3px 5px 13px -5px rgba(0,0,0,0.75);
    box-shadow: inset 3px 5px 13px -5px rgba(0,0,0,0.75);
}
.transition-delay,
.transition-delay::after,
.transition-delay::before {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.cascade:nth-child(1) { transition-delay: .00s }
.cascade:nth-child(2) { transition-delay: .05s }
.cascade:nth-child(3) { transition-delay: .10s }
.cascade:nth-child(4) { transition-delay: .15s }
.cascade:nth-child(5) { transition-delay: .20s }
.cascade:nth-child(6) { transition-delay: .25s }
.cascade:nth-child(7) { transition-delay: .30s }
.cascade:nth-child(8) { transition-delay: .35s }
.cascade:nth-child(9) { transition-delay: .40s }
.cascade:nth-child(10) { transition-delay: .45s }

.fadein {
    -webkit-animation: fadein 0.25s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.25s; /* Firefox < 16 */
        -ms-animation: fadein 0.25s; /* Internet Explorer */
         -o-animation: fadein 0.25s;
            animation: fadein 0.25s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
