.editable-label {
    position: relative;
    padding: 0.25em;
}
.editable-label .text {
    cursor: pointer;
    display: inline-block;
    padding-right: 0.5em;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.editable-label .edit input {
    outline: none;
    padding: 0.5em;
    font-size: 0.8em;
    width: 100%;
    border: solid 1px rgba(170,170,255, 0.8);
}
.editable-label .edit {
    display: none;
}
.editable-label .icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 0.3em;
}
